{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  {% if bug %}
    <h1>Edit {{ bug.name }}</h1>
  {% else %}
    <h1>Add a Bug</h1>
    <img src="{% static 'images/nerd-bug.svg' %}" alt="A bug using a computer"/>
  {% endif %}
</div>
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}