{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

{% if bug %}
  <img 
    class="edit-bug-page-img" 
    src="{% static 'images/edit-bug-background.jpg' %}" 
    alt="edit bug background" 
  />
  <div class="edit-bug-page-contents">
    <div class="page-header">
      <h1 class="edit-title-h1">Edit "{{ bug.subject }}"</h1>
    </div>
    <form action="" method="post" class="form-container">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <button type="submit" class="btn submit">Submit!</button>
    </form>
  </div>
{% else %}
  <img 
    class="add-bug-page-img" 
    src="{% static 'images/add-bug-background.jpg' %}" 
    alt="add bug background" 
  />
  <div class="add-bug-page-contents">
    <div class="page-header">
      <h1>Add a Bug</h1>
    </div>
    <form action="" method="post" class="form-container">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <button type="submit" class="btn submit">Submit!</button>
    </form>
  </div>
{% endif %}

{% endblock %}