{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<img
  class="bug-container" 
  src="{% static 'images/computer-ladybug-transformed.jpg' %}" 
  alt="The Bug Collector Bug" 
/>

<section class="logo-container">
</section>
{% if not user.is_authenticated %}
  <section>
    <form action="{% url 'home' %}" method="post" class="login">
      <img 
        src="{% static 'images/output-onlinepngtools.png' %}" 
        alt="Text reads: Bug Collector"
        class="bug-icon"
      />
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>
{% endif %}

{% endblock %}