{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/bugs/bug-detail.css' %}"
/>
{% endblock %}

{% block content %}

<img class="bug-detail-img" src="{% static 'images/bug-detail-background.jpg' %}" alt="The bug detail background" />
<section class="bug-container">
  <div class="bug-details">
    <div class="info-in-box-div">
      <h1>{{ bug.subject }}</h1>
      {% if bug.age > 0 %}
        <h2>A {{ bug.age }} year old {{ bug.bugge_Code }}</h2>
      {% else %}
        <h2>A {{ bug.bugged_Code }} buggy.</h2>
      {% endif %}
      <p>{{ bug.fixed_Code }}</p>
      {% if user == bug.user %}
        <div class="bug-actions">
          <a href="{% url 'bug-update' bug.id %}" class="btn warn">Edit</a>
          <a href="{% url 'bug-delete' bug.id %}" class="btn danger">Delete</a>
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% endblock %}