{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/bugs/bug-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="bug-container">
  <div class="bug-img">
    <img 
      src="{% static 'images/sk8r-boi-bug.svg' %}" 
      alt="A skater boy bug"
    >
  </div>
  <div class="bug-details">
    <h1>{{ bug.name }}</h1>
    {% if bug.age > 0 %}
      <h2>A {{ bug.age }} year old {{ bug.breed }}</h2>
    {% else %}
      <h2>A {{ bug.breed }} buggy.</h2>
    {% endif %}
    <p>{{ bug.description }}</p>
    <div class="bug-actions">
      <a href="{% url 'bug-update' bug.id %}" class="btn warn">Edit</a>
      <a href="{% url 'bug-delete' bug.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}