{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/bugs/bug-index.css' %}"
/>
{% endblock %}

{% block content %}

<img 
  class="all-bugs-page-img" 
  src="{% static 'images/all-bugs-background.jpeg' %}" 
  alt="The all bugs page background" 
/>

<section class="page-header">
  <h1 class="bug-list-h1">Bug List</h1>
</section>

<section class="card-container">
  {% for bug in bugs %}
    <a class="card" href="{% url 'bug-detail' bug.id %}">
      <div>
        <div class="card-content">
          <h2 class="card-title">{{ bug.subject }}</h2>
          <p class="languages-p">Language(s): {{ bug.language }}</p>
        </div>
      </div>
    </a>
  {% endfor %}
</section>

{% endblock %}